<div class="wrapper fadeInDown">
  <div id="formContent">

    <!--Icon -->
    <div class="fadeIn first">
      <img src="assets/img/logo2.jpg" id="icon" alt="User Icon" style="max-height: 150px;max-width: 150px">
    </div>

    <div class="text-center">
      <h2><i class="fa fa-lock fa-2x"></i> Forgot Password?</h2>
      <p>You can reset your password here.</p>
    </div>
    <form>
      <input type="password" id="newPassword" class="fadeIn second" name="newPassword" placeholder="New Password" required="required">
      <input type="password" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm Password" required="required">
      <input type="button" class="fadeIn fourth" value="Submit" (click)="onSelect('reset')">
    </form>
  </div>
</div>
