<div class="container fadeInDown">
  <div id="formContent" style="max-width: 100%" >
    <div class="text-center">
      <div class="fadeIn first">
        <img src="assets/img/logo_trans.png" id="icon" alt="User Icon" style="max-height: 150px;max-width: 150px">
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-light">Registered Personnel</div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Contact Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of registeredPersons; index as i">
              <th scope="row">{{ i + 1}}</th>
              <td>{{person.firstName}}</td>
              <td>{{person.lastName}}</td>
              <td>{{person.idNumber}}</td>
              <td>{{person.contactNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
