<div class="container fadeInDown">
  <div id="formContent" style="max-width: 100%" >
    <!--Icon -->
    <div class="text-center">
      <div class="fadeIn first">
        <img src="assets/img/logo2.jpg" id="icon" alt="User Icon" style="max-height: 150px;max-width: 150px">
      </div>

      <h2> Register Person</h2>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form #registerForm="ngForm"  (ngSubmit)="onAddPerson(registerForm)">
          <br>

          <div class="card">
              <div class="card-header bg-light">Personal Details</div>

              <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" ngModel name="first_name" id="firstName" placeholder="First Name">
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" ngModel name="last_name" id="lastName" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="row">
                   <div class="form-group col-sm-6">
                      <label for="id_number">ID Number</label>
                      <input type="text" class="form-control" ngModel name="id_number" id="id_number" placeholder="ID Number">
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="contact_number">Cell Phone</label>
                      <input type="text" class="form-control" ngModel name="contact_number" id="contact_number" placeholder="Cell Phone">
                    </div>
                  </div>
              
              </div>
         </div>
          <div class="register-btn">
          <input type="submit" [routerLink]="['/dashboard']" routerLinkActive="active" class="fadeIn fourth" [disabled]="registerForm.invalid" value="Register" (click)="onSelect('register')">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
